# Python S7 Pandas Assessment Test

## My Course Notes and Code

These are my notes from Jose Portilla's [Udemy course](https://www.udemy.com/course/python-for-data-science-and-machine-learning-bootcamp/).

I'm focusing on the section 7 of the course: **Pandas Assessment Test**.

## SF Salaries Exercises

[SF Salaries Dataset](https://www.kaggle.com/kaggle/sf-salaries)

In [80]:
import pandas as pd

sal = pd.read_csv('Salaries.csv')
sal.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

**Use the `.info()` method to find out how many entries there are.**

In [12]:
sal.info() # There are 14865 entries

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148045 non-null  float64
 4   OvertimePay       148650 non-null  float64
 5   OtherPay          148650 non-null  float64
 6   Benefits          112491 non-null  float64
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            0 non-null       float64
dtypes: float64(8), int64(2), object(3)
memory usage: 14.7+ MB

**What is the average BasePay ?**

In [13]:
sal['BasePay'].mean()

66325.44884050643

**What is the highest amount of OvertimePay in the dataset?**

In [15]:
sal['OvertimePay'].max()

245131.88

**What is the job title of  JOSEPH DRISCOLL?** 

Note: Use all caps, otherwise you may get an answer that doesn't match up (there is also a lowercase Joseph Driscoll).

In [21]:
sal[sal['EmployeeName'] == 'JOSEPH DRISCOLL']['JobTitle']

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

**How much does JOSEPH DRISCOLL make (including benefits)?**

In [23]:
sal[sal['EmployeeName'] == 'JOSEPH DRISCOLL']['TotalPayBenefits']

24    270324.91
Name: TotalPayBenefits, dtype: float64

**What is the name of highest paid person (including benefits)?**

In [25]:
# My solution:

sal[sal['TotalPayBenefits'] == sal['TotalPayBenefits'].max()] #['EmployeeName']

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN

In [83]:
# An alternative suggested by Jose:

sal.loc[sal['TotalPayBenefits'].idxmax()]['EmployeeName']

'NATHANIEL FORD'

**What is the name of lowest paid person (including benefits)? Do you notice something strange about how much he or she is paid?**

In [26]:
sal[sal['TotalPayBenefits'] == sal['TotalPayBenefits'].min()] #['EmployeeName']

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.0,0.0,-618.13,0.0,-618.13,-618.13,2014,NaN,San Francisco,NaN

In [82]:
# Jose's alternative suggestion:

sal.loc[sal['TotalPayBenefits'].idxmax()]['EmployeeName']

'NATHANIEL FORD'

**What was the average (mean) BasePay of all employees per year? (2011-2014)?**

In [28]:
sal.groupby('Year')['BasePay'].mean()

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

**How many unique job titles are there?**

In [29]:
sal['JobTitle'].nunique()

2159

**What are the top 5 most common jobs?**

In [84]:
sal['JobTitle'].value_counts().head(5) # `head(5)` is the default

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64

**How many Job Titles were represented by only one person in 2013? (e.g. Job Titles with only one occurence in 2013?)**

In [85]:
# My solution:

list = sal[(sal['Year'] == 2013)]['JobTitle'].value_counts()

len(list[list == 1])

202

In [86]:
# Jose's solution: 

sum(sal[sal['Year']==2013]['JobTitle'].value_counts() == 1)

202

**How many people have the word Chief in their job title?**

In [66]:
sal['JobTitle'].str.contains('Chief', case = False, regex = False).sum()

627

**Is there a correlation between length of the Job Title string and Salary?**

In [78]:
# My solution:

sal['TotalPayBenefits'].corr(sal['JobTitle'].apply(len))

-0.03687844593260675

In [79]:
# Jose's suggested solution:

sal['title_len'] = sal['JobTitle'].apply(len)
sal[['title_len','TotalPayBenefits']].corr() # No correlation.

                  title_len  TotalPayBenefits
title_len          1.000000         -0.036878
TotalPayBenefits  -0.036878          1.000000

## Ecommerce Purchase Exercises

This exercise uses a **made-up** dataset on purchases done through Amazon.

In [88]:
ecom = pd.read_csv('Ecommerce Purchases.csv')
ecom.head()

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73
2,Unit 0065 Box 5052\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",675957666125,08/19,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95
3,"7780 Julia Fords\nNew Stacy, WA 45798",36 vm,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,"Williams, Marshall and Buchanan",6011578504430710,02/24,384,Discover,brent16@olson-robinson.info,Drilling engineer,30.250.74.19,es,78.04
4,"23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,"Brown, Watson and Andrews",6011456623207998,10/25,678,Diners Club / Carte Blanche,christopherwright@gmail.com,Fine artist,24.140.33.94,es,77.82

In [89]:
ecom.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Address           10000 non-null  object
 1   Lot               10000 non-null  object
 2   AM or PM          10000 non-null  object
 3   Browser Info      10000 non-null  object
 4   Company           10000 non-null  object
 5   Credit Card       10000 non-null  int64
 6   CC Exp Date       10000 non-null  object
 7   CC Security Code  10000 non-null  int64
 8   CC Provider       10000 non-null  object
 9   Email             10000 non-null  object
 10  Job               10000 non-null  object
 11  IP Address        10000 non-null  object
 12  Language          10000 non-null  object
 13  Purchase Price    10000 non-null  float64
dtypes: float64(1), int64(2), object(11)
memory usage: 1.1+ MB

**What is the average Purchase Price?**

In [91]:
ecom['Purchase Price'].mean()

50.34730200000025

**What were the highest and lowest purchase prices?**

In [93]:
ecom['Purchase Price'].max()

99.99

In [92]:
ecom['Purchase Price'].min()

0.0

**How many people have English 'en' as their Language of choice on the website?**

In [127]:
ecom[ecom['Language'] == 'en']['Language'].value_counts() # My next solution is better

en    1098
Name: Language, dtype: int64

In [128]:
ecom['Language'].value_counts() # ['en'] # The best solution

ru    1155
de    1155
el    1137
pt    1118
en    1098
fr    1097
es    1095
it    1086
zh    1059
Name: Language, dtype: int64

In [107]:
ecom[ecom['Language'] == 'en'].info() # My Alternative 1

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1098 entries, 11 to 9979
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Address           1098 non-null   object
 1   Lot               1098 non-null   object
 2   AM or PM          1098 non-null   object
 3   Browser Info      1098 non-null   object
 4   Company           1098 non-null   object
 5   Credit Card       1098 non-null   int64
 6   CC Exp Date       1098 non-null   object
 7   CC Security Code  1098 non-null   int64
 8   CC Provider       1098 non-null   object
 9   Email             1098 non-null   object
 10  Job               1098 non-null   object
 11  IP Address        1098 non-null   object
 12  Language          1098 non-null   object
 13  Purchase Price    1098 non-null   float64
dtypes: float64(1), int64(2), object(11)
memory usage: 128.7+ KB

In [105]:
ecom.groupby('Language').count() # My Alternative 2 # SQL logic

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Purchase Price
Language,,,,,,,,,,,,,
de,1155,1155,1155,1155,1155,1155,1155,1155,1155,1155,1155,1155,1155
el,1137,1137,1137,1137,1137,1137,1137,1137,1137,1137,1137,1137,1137
en,1098,1098,1098,1098,1098,1098,1098,1098,1098,1098,1098,1098,1098
es,1095,1095,1095,1095,1095,1095,1095,1095,1095,1095,1095,1095,1095
fr,1097,1097,1097,1097,1097,1097,1097,1097,1097,1097,1097,1097,1097
it,1086,1086,1086,1086,1086,1086,1086,1086,1086,1086,1086,1086,1086
pt,1118,1118,1118,1118,1118,1118,1118,1118,1118,1118,1118,1118,1118
ru,1155,1155,1155,1155,1155,1155,1155,1155,1155,1155,1155,1155,1155
zh,1059,1059,1059,1059,1059,1059,1059,1059,1059,1059,1059,1059,1059

In [189]:
# Jose's solution:

ecom[ecom['Language'] == 'en'].count()

Address             1098
Lot                 1098
AM or PM            1098
Browser Info        1098
Company             1098
Credit Card         1098
CC Exp Date         1098
CC Security Code    1098
CC Provider         1098
Email               1098
Job                 1098
IP Address          1098
Language            1098
Purchase Price      1098
Host                1098
Exp Year            1098
dtype: int64

**How many people have the job title of "Lawyer"?**

In [115]:
len(ecom[ecom['Job'] == 'Lawyer']['Job'])

30

In [117]:
ecom[ecom['Job'] == 'Lawyer'].info() # My Alternative 1

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30 entries, 470 to 9979
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Address           30 non-null     object
 1   Lot               30 non-null     object
 2   AM or PM          30 non-null     object
 3   Browser Info      30 non-null     object
 4   Company           30 non-null     object
 5   Credit Card       30 non-null     int64
 6   CC Exp Date       30 non-null     object
 7   CC Security Code  30 non-null     int64
 8   CC Provider       30 non-null     object
 9   Email             30 non-null     object
 10  Job               30 non-null     object
 11  IP Address        30 non-null     object
 12  Language          30 non-null     object
 13  Purchase Price    30 non-null     float64
dtypes: float64(1), int64(2), object(11)
memory usage: 3.5+ KB

**How many people made the purchase during the AM and how many people made the purchase during PM?**

In [122]:
ecom.groupby('AM or PM').count() # SQL logic

,Address,Lot,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
AM or PM,,,,,,,,,,,,,
AM,4932,4932,4932,4932,4932,4932,4932,4932,4932,4932,4932,4932,4932
PM,5068,5068,5068,5068,5068,5068,5068,5068,5068,5068,5068,5068,5068

In [123]:
ecom['AM or PM'].value_counts() # better solution

PM    5068
AM    4932
Name: AM or PM, dtype: int64

**What are the 5 most common Job Titles?**

In [151]:
ecom['Job'].value_counts().head(5)

Interior and spatial designer        31
Lawyer                               30
Social researcher                    28
Research officer, political party    27
Purchasing manager                   27
Name: Job, dtype: int64

**Someone made a purchase that came from Lot: "90 WT" , what was the Purchase Price for this transaction?**

In [161]:
ecom[ecom['Lot'] == '90 WT']['Purchase Price']

513    75.1
Name: Purchase Price, dtype: float64

**What is the email of the person with the following Credit Card Number: 4926535242672853?**

In [168]:
ecom[ecom['Credit Card'] == 4926535242672853]['Email']

1234    bondellen@williams-garza.com
Name: Email, dtype: object

In [173]:
ecom['Credit Card'].dtype # It took me a while to figure this...

dtype('int64')

**How many people have American Express as their Credit Card Provider *and* made a purchase above $95?**

In [175]:
ecom[(ecom['CC Provider'] == 'American Express') & (ecom['Purchase Price'] > 95)].count()

Address             39
Lot                 39
AM or PM            39
Browser Info        39
Company             39
Credit Card         39
CC Exp Date         39
CC Security Code    39
CC Provider         39
Email               39
Job                 39
IP Address          39
Language            39
Purchase Price      39
Host                39
dtype: int64

**How many people have a credit card that expires in 2025?**

In [176]:
ecom['CC Exp Date'].dtype

dtype('O')

In [177]:
ecom['CC Exp Date'].head()

0    02/20
1    11/18
2    08/19
3    02/24
4    10/25
Name: CC Exp Date, dtype: object

In [180]:
ecom['Exp Year'] = ecom['CC Exp Date'].str.split('/', n = 1, expand = True)[1]
ecom['Exp Year'].head()

0    20
1    18
2    19
3    24
4    25
Name: Exp Year, dtype: object

In [184]:
ecom['Exp Year'].value_counts() # My Solution 1

25    1033
23    1010
21    1006
22     996
19     995
18     995
24     992
20     988
17     955
26     654
16     376
Name: Exp Year, dtype: int64

In [186]:
ecom[ecom['Exp Year'] == '25'].count() # My Solution 2

Address             1033
Lot                 1033
AM or PM            1033
Browser Info        1033
Company             1033
Credit Card         1033
CC Exp Date         1033
CC Security Code    1033
CC Provider         1033
Email               1033
Job                 1033
IP Address          1033
Language            1033
Purchase Price      1033
Host                1033
Exp Year            1033
dtype: int64

In [190]:
# Jose's solution:

sum(ecom['CC Exp Date'].apply(lambda x: x[3:]) == '25')

1033

**Hard: What are the top 5 most popular email providers/hosts (e.g. gmail.com, yahoo.com, etc...)**

In [187]:
ecom['Host'] = ecom['Email'].str.split('@', n = 1, expand = True)[1]
ecom['Host'].head()

0               yahoo.com
1                reed.com
2    morales-harrison.com
3     olson-robinson.info
4               gmail.com
Name: Host, dtype: object

In [188]:
ecom['Host'].value_counts().head()

hotmail.com     1638
yahoo.com       1616
gmail.com       1605
smith.com         42
williams.com      37
Name: Host, dtype: int64

In [191]:
# Jose's Solution: 

ecom['Email'].apply(lambda x: x.split('@')[1]).value_counts().head(5)

hotmail.com     1638
yahoo.com       1616
gmail.com       1605
smith.com         42
williams.com      37
Name: Email, dtype: int64